@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::placeholder {
  color: #ebecf0; }

body {
  background-color: #ffffff;
  position: relative; }
  body iframe {
    margin: 20px auto;
    display: block; }

.max-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 10px;
  align-items: start;
  padding-top: 50px; }

.container {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
  background-color: #ebecf0;
  padding: 20px;
  box-shadow: 0 0 10px black;
  border-radius: 5px; }
  .container .container__title {
    font: bold 1.4em 'Rubik';
    color: black;
    text-align: center;
    margin: 10px 0; }
  .container .container__input {
    font-size: 1.1em;
    margin: 5px 0;
    padding: 10px;
    color: white;
    background-color: #0e0e0e;
    border: 2px solid #9a6961; }
  .container .container__input:focus {
    box-shadow: 0 6px 16px black;
    background-color: #ebecf0;
    color: black; }
  .container .container__button {
    padding: 10px;
    font: bold 1.2em 'Rubik';
    color: white;
    background-color: black;
    border: 2px solid #9a6961;
    margin: 10px 0; }
  .container .container__button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 10px black;
    transition: 0.3s;
    border: 2px solid black; }

#added, #doing, #done {
  display: flex;
  flex-direction: column; }
  #added .task, #doing .task, #done .task {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    margin: 20px 10px 10px 0;
    box-shadow: 0 0 8px black;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px; }
    #added .task .task__title, #doing .task .task__title, #done .task .task__title {
      text-align: center;
      font: italic 1.2em 'Rubik'; }
    #added .task .task__desc, #doing .task .task__desc, #done .task .task__desc {
      margin-top: 6px;
      text-align: center;
      color: #ac5859; }
    #added .task .task__buttons, #doing .task .task__buttons, #done .task .task__buttons {
      display: flex;
      justify-content: space-around; }
      #added .task .task__buttons .task__button, #doing .task .task__buttons .task__button, #done .task .task__buttons .task__button {
        border: none;
        padding: 8px;
        font: italic 0.8em 'Rubik';
        background-color: black;
        color: white;
        margin-top: 10px;
        flex: 1 0; }
      #added .task .task__buttons .task__button:hover, #doing .task .task__buttons .task__button:hover, #done .task .task__buttons .task__button:hover {
        cursor: pointer;
        box-shadow: 0 0 8px black;
        background-color: #ffffff;
        color: black; }

#erased {
  padding: 10px;
  font: italic 1em 'Rubik';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #ebecf0;
  box-shadow: 0 0 10px black; }
  #erased .msj__notasks {
    font-weight: inherit; }

@media screen and (max-width: 768px) {
  .max-container {
    grid-template: 1fr 1fr 1fr / 1fr; } }
