@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::placeholder {
  color: #949494; }

body {
  background-color: #dccf6a; }
  body iframe {
    margin: 20px auto;
    display: block; }

.max-container {
  display: flex; }

.container {
  flex-grow: 1;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  background-color: #396369;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px black; }
  .container .container__title {
    font: bold 1.4em 'Rubik';
    background-color: #141414;
    color: white;
    border-radius: 20px 20px 0 0;
    border: 2px solid #9a6961;
    padding: 20px;
    text-align: center; }
  .container .container__input {
    font-size: 1.1em;
    margin: 5px 0;
    padding: 10px;
    color: white;
    background-color: #141414;
    border: 2px solid #9a6961; }
  .container .container__input:focus {
    box-shadow: 0 6px 16px black;
    outline: 2px solid black; }
  .container .container__button {
    padding: 10px;
    width: 40%;
    font: bold 1.2em 'Rubik';
    color: white;
    background-color: #141414;
    border: 2px solid #9a6961;
    margin: 10px 0; }
  .container .container__button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
    transition: 0.3s; }

#added, #doing, #done {
  display: flex;
  flex-wrap: wrap;
  justify-content: start; }
  #added .task, #doing .task, #done .task {
    background-color: #141414;
    color: white;
    padding: 20px;
    margin: 20px 10px 10px 0;
    box-shadow: 0 0 6px black;
    border: 2px solid #9a6961; }
    #added .task .task__title, #doing .task .task__title, #done .task .task__title {
      text-align: center;
      font: italic 1.2em 'Rubik'; }
    #added .task .task__desc, #doing .task .task__desc, #done .task .task__desc {
      margin-top: 6px;
      text-align: center;
      color: #ac5859; }
    #added .task .task__buttons, #doing .task .task__buttons, #done .task .task__buttons {
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      #added .task .task__buttons .task__button, #doing .task .task__buttons .task__button, #done .task .task__buttons .task__button {
        border: none;
        padding: 8px;
        font: italic 0.8em 'Rubik';
        background-color: black;
        color: white;
        margin-top: 10px; }
      #added .task .task__buttons .task__button:hover, #doing .task .task__buttons .task__button:hover, #done .task .task__buttons .task__button:hover {
        cursor: pointer;
        outline: 1px solid white; }

.msj__notasks {
  padding: 10px;
  font: italic 1.2em 'Rubik';
  position: relative; }

@media screen and (max-width: 768px) {
  .max-container {
    flex-direction: column; } }
