// VARIABLES
$azul-base: #396369;
$negro-base: rgb(14, 14, 14);
$gris-base: #ebecf0;
$blanco-base: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
// font-family: 'Rubik', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder{
    color: $gris-base;
}
body{
    background-color: $blanco-base;
    position: relative;
    iframe{
        margin: 20px auto;
        display: block;
    }
}
.max-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 10px;
    align-items: start;
    padding-top: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
    background-color: $gris-base;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    .container__title{
        font: bold 1.4em 'Rubik';
        color: black;
        text-align: center;
        margin: 10px 0;
    }
    .container__input{
        font-size: 1.1em;
        margin: 5px 0;
        padding: 10px;
        color: white;
        background-color: $negro-base;
        border: 2px solid #9a6961;
    }
    .container__input:focus{
        box-shadow: 0 6px 16px black;
        background-color: $gris-base;
        color: black;
    }
    .container__button{
        padding: 10px;
        font: bold 1.2em 'Rubik';
        color: white;
        background-color: black;
        border: 2px solid #9a6961;
        margin: 10px 0;
    }
    .container__button:hover{
        cursor: pointer;
        background-color: $blanco-base;
        color: black;
        box-shadow: 0 0 10px black;
        transition: 0.3s;
        border: 2px solid black;
    }
}
#added, #doing, #done{
    display: flex;
    flex-direction: column;
    .task{
        background-color: $blanco-base;
        color: black;
        padding: 20px;
        margin: 20px 10px 10px 0;
        box-shadow: 0 0 8px black;
        flex-grow: 1;
        overflow: hidden;
        border-radius: 5px;
        .task__title{
            text-align: center;
            font: italic 1.2em 'Rubik';
        }
        .task__desc{
            margin-top: 6px;
            text-align: center;
            color:#ac5859;
        }
        .task__buttons{
            display: flex;
            justify-content: space-around;
            .task__button{
                border: none;
                padding: 8px;
                font: italic 0.8em 'Rubik';
                background-color: black;
                color: white;
                margin-top: 10px;
                flex: 1 0;
            }
            .task__button:hover{
                cursor: pointer;
                box-shadow: 0 0 8px black;
                background-color: $blanco-base;
                color: black;
            }
        }
    }
}

#erased{
    padding: 10px;
    font: italic 1em 'Rubik';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: $gris-base;
    box-shadow: 0 0 10px black;
    .msj__notasks{
        font-weight: inherit;
    }
}

@media screen and (max-width: 768px){
    .max-container{
        grid-template: 1fr 1fr 1fr / 1fr;
    }
}